# dependencies
node_modules/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example

# next.js
.next/
out/

# nestjs build
dist/

# logs
logs
*.log
npm-debug.log*

# prisma
backend/generated/

# mac/windows
.DS_Store
Thumbs.db

# vscode
.vscode/

# docker
*.pid

# coverage
coverage/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
tfplan
crash.log
*.tfvars

# misc
tmp/
temp/

#SECRETS
k8s/base/backend/secret.yaml
k8s/monitoring/slack-secret.yaml